h1 {
  font-size: 70px;
  text-align: center;
}

body {

  background-image: url("https://stmed.net/sites/default/files/styles/1920x1080/public/triangle-wallpapers-25326-1648896.jpg?itok=gO8XPuFW");
   background-repeat: no-repeat;
  background-size: cover;
   /* height: 10000px;
  width: 10000px;
   background-color: skyblue;  */
}

p {
  margin-top: 70px;
  font-size: 45px;
  color: black;
  text-align: center;
}

button{
  margin-left:1300px;
  /* margin-right: inherit; */
  /* float: right; */
  align: right;
}
header{
  background:
}
.one{
  color:#FF0000;
  font-size: 30px;

}
